/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        padding: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Common */
    .section-heading {
        font-size: 5.6rem;
        line-height: 1.18;
    }

    .section-heading-small {
        font-size: 3.2rem;
        line-height: 1.25;
    }

    .section-desc {
        font-size: 1.8rem;
        line-height: 1.67;
    }

    .btn {
        --height: 62px;

        min-width: 170px;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        line-height: var(--height);
    }
    .mobile-header {
        display: none;
    }

    /* Header */
    .header-container,
    .contact-container {
        width: 1330px;
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        padding-top: 20px;
        border-bottom: none;
    }

    .header.header--fixed {
        top: -20px;
    }

    .header__inner {
        flex-direction: row;
        padding: 0;
    }

    .header__inner::after {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .toggle-menu__wrap,
    .header__img-wrap {
        width: 46px;
        height: 46px;
    }

    .header__email-wrap {
        margin: 0;
    }

    .header__img-email {
        width: 100%;
        height: 100%;
    }

    .header__email {
        display: block;
        color: #080415;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.36;
        text-decoration-line: underline;
    }

    .header__img-wrap:hover {
        border-color: var(--primary-color);
    }

    .pc-navbar {
        display: block;
    }

    .navbar__list {
        display: flex;
    }

    .navbar__item {
        border-bottom: none;
    }

    .navbar__link {
        display: inline-block;
        padding: 8px 21.5px;
        font-size: 1.8rem;
    }

    .navbar__link::before {
        display: block;
        content: attr(title);
        height: 0;
        font-weight: 500;
        overflow: hidden;
        visibility: hidden;
    }

    .navbar__link:hover {
        color: var(--primary-color);
        font-weight: 500;
    }

    /* Hero */
    .hero {
        padding-top: 44px;
    }

    .hero__inner {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__media {
        flex-shrink: 0;
        width: 44%;
        height: 705px;
    }

    .hero__content {
        padding: 137px 0 0 156px;
    }

    .hero__heading {
        color: #080415;
        font-size: 8rem;
        font-weight: 500;
        line-height: 0.95;
        letter-spacing: -0.04em;
    }

    .hero__desc {
        max-width: 370px;
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.67;
    }

    .hero__actions {
        column-gap: 30px;
        margin-top: 50px;
    }

    .hero__cta {
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .hero__link {
        color: #080415;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.67;
        text-decoration-line: underline;
    }

    .hero__link:hover {
        color: var(--primary-color);
    }

    .hero__socials,
    .hero__social-icon-group,
    .hero__social-icon {
        display: flex;
        align-items: center;
    }

    .hero__socials {
        margin-top: 104px;
    }

    .hero__social-desc {
        font-size: 1.6rem;
        line-height: 1.88;
    }

    .hero__social-icon-group {
        column-gap: 20px;
        margin-left: 15px;
    }

    .hero__social-icon {
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(8, 4, 21, 0.1);
    }

    .hero__social-icon:hover {
        border-color: var(--primary-color);
        cursor: pointer;
    }

    .hero__social-icon-img {
        width: 16px;
    }

    .hero__decor,
    .feedback__decor {
        position: absolute;
        bottom: 0;
    }

    .hero__decor--left,
    .feedback__decor-left {
        left: -214px;
    }

    .hero__decor--right,
    .feedback__decor-right {
        display: block;
        right: -160px;
    }

    /* Clients */
    .clients {
        margin-top: 98px;
    }

    .clients__inner {
        flex-direction: row;
        column-gap: 105px;
    }

    .clients__info {
        margin-top: 13px;
        width: 30%;
    }

    .clients__heading {
        width: auto;
        margin-left: 99px;
        text-align: left;
        font-size: 4.2rem;
        line-height: 1.19;
    }

    .clients__heading::before {
        top: 22px;
        left: 0;
        transform: none;
        width: 86px;
        margin-left: -99px;
    }

    .clients__list {
        flex: 1;
        grid-template-columns: repeat(4, 1fr);
        gap: 34px 36px;
        padding-bottom: 7px;
    }

    .clients-item:nth-child(4),
    .clients-item:nth-child(8) {
        padding-left: 0;
    }

    /* Service */
    .service {
        margin-top: 133px;
        scroll-margin-top: 150px;
    }

    .service__info {
        text-align: center;
    }

    .service__desc {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    .service__list {
        margin-top: 60px;
    }

    .service-row {
        overflow-x: visible;
    }

    .service-item {
        padding: 33px 42px 32px 43px;
        background: #fbfaff;
        transition: 0.5s ease;
    }

    .service-item:hover {
        transform: translateY(-20px);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .service-item__img-wrap:hover {
        border-color: var(--primary-color);
    }

    .service-item__heading:hover {
        color: var(--primary-color);
    }

    .service-item__img-wrap {
        width: 74px;
        height: 74px;
        transition: 0.5s ease;
    }

    .service-item__img {
        display: block;
        width: auto;
    }

    .service-item__heading {
        margin-top: 22px;
        transition: 0.5s ease;
    }

    .service-item__desc {
        margin-top: 15px;
    }

    .service__dots {
        display: none;
    }

    /* Projects */
    .projects {
        margin-top: 140px;
    }

    .project__inner {
        padding: 86px 0;
    }

    .project__info {
        flex-direction: row;
        column-gap: 160px;
        text-align: left;
    }

    .project__heading {
        width: 40%;
    }

    .project__desc {
        margin-top: 31px;
        width: 31.63%;
        color: rgba(255, 255, 255, 0.7);
    }

    .project__list {
        margin-top: 70px;
        padding-top: 0;
    }

    .project-item {
        padding: 24px 23px 23px 34px;
    }

    .project-item__content {
        column-gap: 44px;
    }

    .project-item__heading:hover,
    .project-item__link:hover {
        color: var(--primary-color);
    }

    .project-item__desc {
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 1.44;
    }

    .project-item__link {
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.67;
    }

    .project-item__media {
        width: 48%;
    }

    .project-item__img:hover {
        transform: scale(1.2);
    }

    .project__action {
        margin-top: 80px;
    }

    .project__btn {
        background: #fff;
        color: #080415;
    }

    .project__btn:hover {
        opacity: 1;
        color: var(--primary-color);
    }

    /* Journey */
    .journey {
        margin-top: 140px;
        scroll-margin-top: 120px;
    }

    .journey__info {
        width: 49%;
    }

    .journey__label {
        column-gap: 9px;
    }

    .journey__desc {
        margin-top: 15px;
    }

    .journey__stats {
        justify-content: space-between;
        padding: 20px 143px 20px 95px;
        margin: 70px 112px;
    }

    .journey__stats-number {
        font-size: 5.6rem;
        line-height: 1.36;
    }

    .journey__stats-desc {
        margin-top: 0;
    }

    .journey__video-play {
        width: 111px;
        height: 111px;
    }

    .journey__video-play:hover {
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(12px);
    }

    .journey__video-play:hover .journey__video-play-icon {
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .journey__video-play-icon {
        width: 15px;
    }

    .journey__video-intro {
        width: 15%;
        padding: 16px 28px;
    }

    .journey__video-intro:hover .journey__video-intro-desc {
        color: var(--primary-color);
    }

    .journey__video-intro-desc {
        font-size: 1.8rem;
        line-height: 1.67;
    }

    /* Feedback */
    .feedback__inner {
        padding: 150px 0 74px;
    }

    .feedback__info {
        width: 49%;
        margin-left: auto;
        margin-right: auto;
    }

    .feedback__list {
        width: 58%;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .feedback-item__quote {
        font-size: 2.4rem;
    }

    .feedback-item__info {
        margin-top: 36px;
    }

    .feedback-item__name {
        font-size: 3rem;
        line-height: 1.33;
    }

    .feedback__dots {
        margin-top: 40px;
    }

    .feedback__decor {
        position: absolute;
        bottom: 0;
    }

    .feedback__decor-left {
        left: -174px;
    }

    .feedback__decor-right {
        right: -174px;
    }

    /* FAQ */
    .faq {
        margin-top: 95px;
    }

    .faq__heading {
        width: 49%;
    }

    .faq__list {
        width: 86%;
        margin-top: 20px;
    }

    .faq-item {
        padding: 60px 0 11px 22px;
    }

    .faq-item__info {
        flex: 1;
    }

    .faq-item__heading {
        margin-bottom: 23px;
    }

    .faq-item__desc {
        width: 51%;
        margin-top: 23px;
    }

    .faq-item__checkbox-icon {
        width: 50px;
        height: 50px;
    }

    .faq-item__checkbox:checked ~ .faq-item .faq-item__desc {
        height: 60px;
    }

    .faq-item__checkbox-icon-plus,
    .faq-item__checkbox:checked ~ .faq-item .faq-item__checkbox-icon-minus {
        width: 15px;
        height: 15px;
    }

    /* Atmosphere */
    .atmosphere {
        margin-top: 160px;
    }

    .atmosphere__info {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    .atmosphere__mail {
        margin-top: 30px;
    }

    .atmosphere__list {
        margin-top: 70px;
    }

    .atmosphere__img {
        height: 529px;
    }

    .atmosphere__dots {
        display: none;
    }

    /* Contact */
    .contact {
        margin-top: 140px;
        scroll-margin-top: 144px;
    }

    .contact-container {
        position: relative;
        padding: 68px 0;
        background: #fbfaff;
    }

    .contact__info {
        position: relative;
        z-index: 1;
        width: 43%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .contact__img {
        width: 90px;
    }

    .contact__heading {
        margin-top: 15px;
    }

    .contact__cta {
        padding: 0;
        border: none;
        outline: none;
        margin-top: 40px;
    }

    .contact__decor {
        position: absolute;
    }

    .contact__decor-left {
        left: 0;
        bottom: 0;
        display: block;
    }

    .contact__decor-center {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact__decor-right {
        top: 0;
        right: 0;
        display: block;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
