/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        padding: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .header {
        padding-top: 20px;
        border-bottom: none;
    }

    .header.header--fixed {
        top: -20px;
    }

    .header__inner {
        flex-direction: row;
        padding: 0;
    }

    .header__inner::after {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .toggle-menu__wrap,
    .header__img-wrap {
        width: 46px;
        height: 46px;
    }

    .header__email-wrap {
        margin: 0;
    }

    .header__img-email {
        width: 100%;
        height: 100%;
    }

    .header__email {
        display: block;
        color: #080415;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.36;
        text-decoration-line: underline;
    }

    .header__img-wrap:hover {
        border-color: var(--primary-color);
    }

    .pc-navbar {
        display: block;
    }

    .navbar__list {
        display: flex;
    }

    .navbar__link {
        display: inline-block;
        padding: 8px 21.5px;
        color: #51586a;
        font-size: 1.8rem;
        line-height: normal;
    }

    .navbar__link::before {
        display: block;
        content: attr(title);
        height: 0;
        font-weight: 500;
        overflow: hidden;
        visibility: hidden;
    }

    .navbar__link:hover {
        color: var(--primary-color);
        font-weight: 500;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
