*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #080415;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.04em;
}

.section-heading-small {
    color: #080415;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: -0.04em;
}

.section-desc {
    margin-top: 20px;
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.63;
}

.section-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.section-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(8, 4, 21, 0.2);
}

.section-dot:hover {
    background: var(--primary-color);
    cursor: pointer;
}

.section-dot--active {
    position: relative;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    cursor: default;
}

.section-dot--active::before {
    position: absolute;
    top: -4px;
    left: -4px;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.btn {
    --height: 55px;

    display: inline-block;
    min-width: 147px;
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    line-height: var(--height);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/* Header */
.header {
    background: #fbfaff;
}

.header.header--fixed {
    position: sticky;
    top: -4px;
    left: 0;
    z-index: 99;
}

.header-container {
    --spacer: 40px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--spacer) / 2);
    padding-right: calc(var(--spacer) / 2);
}

.header__inner,
.toggle-menu__wrap,
.header__email-wrap,
.header__img-wrap {
    display: flex;
    align-items: center;
}

.header__inner {
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 0 16px;
}

.header__inner::after {
    position: absolute;
    bottom: 0;
    left: -13px;
    display: block;
    content: "";
    width: calc(100% + 27px);
    height: 1px;
    background: #d6d3e2;
}

.toggle-menu__wrap,
.header__img-wrap {
    justify-content: center;

    width: 32px;
    height: 32px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.toggle-menu__wrap {
    flex-direction: column;
    row-gap: 4px;
}

.toggle-menu__icon {
    width: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 99px;
}

.header__email-wrap {
    margin: 0 10px 0 auto;
    column-gap: 10px;
}

.header__img-email {
    width: 16px;
    height: 12px;
}

.header__email {
    display: none;
}

.header__email:hover {
    color: var(--primary-color);
}

.header__logo {
    display: block;
}

.pc-navbar {
    display: none;
}

.menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 999;
}

.menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
}

.menu-drawer {
    position: fixed;
    inset: 0 25% 0 0;
    padding: 30px;
    background: #fbfaff;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 999;
}

.mobile-nav {
    margin-top: 16px;
}

.navbar__item {
    border-bottom: 1px solid #d6d3e2;
}

.navbar__link {
    display: block;
    padding: 14px 0;
    color: #51586a;
    font-size: 1.8rem;
    line-height: normal;
}

/* Hero */
.hero {
    padding-top: 50px;
    background: #fbfaff;
}
.hero-container {
    position: relative;
}

.hero__inner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.hero__content {
    width: 100%;
}

.hero__heading {
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.04em;
}

.hero__desc {
    margin-top: 20px;
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.63;
}

.hero__actions,
.hero__socials,
.hero__social-icon-group,
.hero__social-icon {
    display: flex;
    align-items: center;
}

.hero__actions {
    column-gap: 40px;
    margin-top: 30px;
}

.hero__cta {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero__link {
    color: #080415;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.88;
    text-decoration-line: underline;
}

.hero__socials {
    margin-top: 25px;
}

.hero__social-desc {
    color: #51586a;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
}

.hero__social-icon-group {
    column-gap: 20px;
    margin-left: 15px;
}

.hero__social-icon {
    position: relative;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__social-icon-img {
    width: 12px;
}

.hero__media {
    margin: 20px auto 0;
    width: 74%;
}

.hero__img {
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero__decor {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

.hero__decor--left {
    left: 0;
}

.hero__decor--right {
    display: none;
}

/* Clients */
.clients {
    margin-top: 120px;
}

.clients__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.clients__heading {
    position: relative;
    width: 49%;
    margin: 0 auto;
    color: #080415;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.04em;
}

.clients__heading::before {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    content: "";
    width: 48px;
    height: 2px;
    background: var(--primary-color);
}

.clients__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
}

.clients-item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.clients-item:nth-child(4),
.clients-item:nth-child(8) {
    padding-left: 36px;
}

.client-item__logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.clients-item:nth-child(1) > .client-item__logo-group {
    background: #fff;
}

.clients-item:nth-child(2) > .client-item__logo-group {
    background: #fbfaff;
}

.clients-item:nth-child(3) > .client-item__logo-group {
    background: #fee101;
}

.clients-item:nth-child(4) > .client-item__logo-group {
    background: #f00;
}

.clients-item:nth-child(5) > .client-item__logo-group {
    background: #14a800;
}

.clients-item:nth-child(6) > .client-item__logo-group {
    background: #fff;
}

.clients-item:nth-child(7) > .client-item__logo-group {
    background: #7f54b3;
}

.clients-item:nth-child(8) > .client-item__logo-group {
    background: #23bfc8;
}

.client-item__logo,
.client-item__logo-name {
    display: block;
}

/* Service */
.service {
    margin-top: 120px;
    scroll-margin-top: 160px;
}

.service__info {
    text-align: center;
}

.service__list {
    margin-top: 100px;
    padding-bottom: 2px;
}

.service-row {
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.service-item {
    padding: 29px 50px;
    background: #fbfaff;
}

.service-item__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(8, 4, 21, 0.05);
    border-radius: 50%;
    background: #fff;
}

.service-item__img {
    width: 32px;
}

.service-item__heading {
    display: block;
    margin-top: 30px;
}

.service__dots {
    margin-top: 30px;
}

/* Projects */
.projects {
    margin-top: 120px;
    background: var(--primary-color);
    scroll-margin-top: 50px;
}

.project__inner {
    padding: 69px 0 60px;
}

.project__info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project__heading {
    color: #fff;
}

.break-word {
    display: block;
}

.project__desc {
    color: rgba(255, 255, 255, 0.6);
}

.project__list {
    padding-top: 60px;
}

.project-item {
    position: relative;
    padding: 20px 15px;
    background: #fbfaff;
}

.project-item__content {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.project-item__desc {
    margin-top: 4px;
    color: #51586a;
    font-size: 1.4rem;
    line-height: 1.43;
}

.project-item__link {
    display: block;
    margin-top: 4px;
    color: #080415;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
    text-decoration-line: underline;
}

.project-item__media {
    flex-shrink: 0;
    width: 38%;
    overflow: hidden;
}

.project-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.project-item__decor {
    position: absolute;
    top: 0;
    right: 0;
}

.project__action {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.project__btn {
    --height: 56px;

    min-width: 154px;
    background: #fff;
    color: #080415;
}

/* Journey */
.journey {
    margin-top: 120px;
    scroll-margin-top: 100px;
}

.journey__info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.journey__label {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

.journey__greeting {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.04em;
}

.journey__img-icon {
    width: 18px;
    height: 18px;
}

.journey__heading {
    margin-top: 10px;
}

.journey__stats {
    display: flex;
    column-gap: 50px;
    padding: 30px 16px;
    margin: 50px 0 40px;
    border-top: 1px solid rgba(8, 4, 21, 0.2);
    border-bottom: 1px solid rgba(8, 4, 21, 0.2);
}

.journey__stats-item {
    display: flex;
    flex-direction: column;
}

.journey__stats-number {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
}

.journey__stats-desc {
    margin-top: 5px;
    line-height: 1.38;
}

.journey__video-container {
    position: relative;
}

.journey__video {
    display: block;
    width: 100%;
    height: auto;
}

.journey__video-play,
.journey__video-intro {
    position: absolute;
}

.journey__video-play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 77px;
    padding: 0;
    border-radius: 50%;
    border: transparent;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    cursor: pointer;
    transition: 0.5s ease;
}

.journey__video-play:hover .journey__video-play-icon {
    color: #080415;
}

.journey__video-play-icon {
    width: 10.405px;
    color: var(--primary-color);
    transition: 0.5s ease;
}

.journey__video-intro {
    right: 10px;
    bottom: 10px;
    width: 33.7%;
    padding: 7px 21px;
    background: #fff;
}

.journey__video-intro-desc {
    display: block;
    color: #51586a;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5;
    text-transform: uppercase;
}

/* Feedback */
.feedback {
    background: #fbfaff;
}

.feedback__inner {
    position: relative;
    padding: 121px 0 67px;
    text-align: center;
}

.feedback__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    overflow: hidden;
}

.feedback-item {
    flex-shrink: 0;
    width: 100%;
}

.feedback-item__quote {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
}

.feedback-item__info {
    margin-top: 48px;
}

.feedback-item__author {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.feedback-item__avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f29764;
    overflow: hidden;
}

.feedback-item__img {
    position: absolute;
    top: 6.7px;
    left: 0.7px;
    width: 100%;
}

.feedback-item__name {
    color: #080415;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.67;
}

.feedback-item__desc {
    margin-top: 3px;
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.81;
}

.feedback__dots {
    margin-top: 20px;
}

.feedback__decor {
    position: absolute;
    bottom: 0;
    width: 24%;
}

.feedback__decor-left {
    left: -20px;
}

.feedback__decor-right {
    right: -20px;
}

/* FAQ */
.faq {
    margin-top: 120px;
}

.faq__container {
    --spacer: 20px;
}

.faq__heading {
    width: 90%;
    padding-left: 10px;
}

.faq-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 10px 15px 11px;
    border-bottom: 2px solid #08182f;
}

.faq-item__heading {
    width: 83%;
    margin-bottom: 15px;
}

.faq-item__desc {
    width: 100%;
    height: 0;
    margin-top: 15px;
    opacity: 0;
    visibility: visible;
    transition: 0.4s;
}

.faq-item__checkbox-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid rgba(22, 26, 28, 0.2);
}

.faq-item__checkbox:checked ~ .faq-item {
    border-bottom-color: var(--primary-color);
}

.faq-item__checkbox:checked ~ .faq-item .faq-item__heading {
    color: var(--primary-color);
}

.faq-item__checkbox:checked ~ .faq-item .faq-item__desc {
    height: 78px;
    opacity: 1;
    visibility: visible;
}

.faq-item__checkbox:checked ~ .faq-item .faq-item__checkbox-icon {
    border-color: rgba(93, 59, 238, 0.2);
}

.faq-item__checkbox-icon-plus {
    flex-shrink: 0;
    width: 9.295px;
    height: 9.295px;
    color: #161a1c;
    cursor: pointer;
}

.faq-item__checkbox:checked ~ .faq-item .faq-item__checkbox-icon-plus,
.faq-item__checkbox-icon-minus {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.faq-item__checkbox:checked ~ .faq-item .faq-item__checkbox-icon-minus {
    width: 9.295px;
    height: 9.295px;
    color: var(--primary-color);
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

/* Atmosphere */
.atmosphere {
    margin-top: 120px;
}

.atmosphere__info {
    text-align: center;
}

.atmosphere__instagram {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
}

.atmosphere__instagram:hover {
    text-decoration: underline;
}

.atmosphere__list {
    margin-top: 60px;
    overflow: hidden;
}

.atmosphere__row {
    flex-wrap: nowrap;
}

.atmosphere__item {
    overflow: hidden;
}

.atmosphere__item:hover .atmosphere__img {
    transform: scale(1.2);
    cursor: pointer;
}

.atmosphere__img {
    display: block;
    width: 100%;
    height: 503px;
    object-fit: cover;
    transition: 0.5s ease;
}

.atmosphere__dots {
    margin-top: 40px;
}

/* Contact */
.contact {
    margin-top: 120px;
    scroll-margin-top: 193.4px;
}

.contact-container {
    position: relative;
    padding: 36px 20px;
    background: #fbfaff;
}

.contact__info {
    position: relative;
    z-index: 1;
    text-align: center;
}

.contact__img {
    width: 48px;
}

.contact__heading {
    width: 64%;
    margin: 10px auto 0;
}

.contact__desc {
    margin-top: 10px;
}

.contact__cta {
    padding: 0;
    border: none;
    outline: none;
    margin-top: 30px;
}

.contact__decor {
    position: absolute;
}

.contact__decor-left,
.contact__decor-right {
    display: none;
}

.contact__decor-center {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
.footer {
    margin-top: 120px;
}

.footer__inner {
    flex-direction: column;
}

.footer__email-wrap {
    margin: 58px 0 0;
}

.footer__email {
    display: block;
}

.footer__list {
    display: flex;
}

.footer__item {
    padding: 4px 19px;
    border-bottom: none;
}

.footer__item:first-child {
    padding-left: 0;
}

.footer__item:last-child {
    padding-right: 0;
}

.footer-nav__link {
    font-size: 1.6rem;
    line-height: 1.25;
}

.footer__img-wrap {
    width: 46px;
    height: 46px;
}

.footer__img-email {
    width: 24px;
    height: 16px;
}

.footer__email {
    display: block;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.footer__inner::after {
    display: none;
}

.footer__row {
    padding: 57px 0 29px;
}

.footer__row-wrap {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.footer__policy {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 36px;
    padding-bottom: 29px;
}

.footer__policy::after {
    position: absolute;
    bottom: 0;
    left: -20px;
    display: block;
    content: "";
    width: calc(100% + 39.6px);
    height: 1px;
    background: rgba(12, 7, 32, 0.2);
}

.footer__link {
    margin-top: 0;
    color: rgba(82, 87, 113, 0.6);
    font-size: 1.8rem;
    line-height: 1.67;
    letter-spacing: -0.03em;
}

.footer__link:nth-child(1) {
    position: relative;
}

.footer__link:nth-child(1):after {
    position: absolute;
    right: -23px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background: rgba(82, 87, 113, 0.6);
}

.footer__copyright {
    color: rgba(82, 87, 113, 0.6);
    font-size: 1.8rem;
}
