*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* Common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #080415;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.04em;
}

.section-desc {
    margin-top: 20px;
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.63;
}

.btn {
    --height: 55px;

    display: inline-block;
    min-width: 147px;
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.8;
}

/* Header */
.header {
    background: #fbfaff;
}

.header.header--fixed {
    position: sticky;
    top: -4px;
    left: 0;
    z-index: 99;
}

.header-container {
    --spacer: 40px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--spacer) / 2);
    padding-right: calc(var(--spacer) / 2);
}

.header__inner,
.toggle-menu__wrap,
.header__email-wrap,
.header__img-wrap {
    display: flex;
    align-items: center;
}

.header__inner {
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 0 16px;
}

.header__inner::after {
    position: absolute;
    bottom: 0;
    left: -13px;
    display: block;
    content: "";
    width: calc(100% + 27px);
    height: 1px;
    background: #d6d3e2;
}

.toggle-menu__wrap,
.header__img-wrap {
    justify-content: center;

    width: 32px;
    height: 32px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.toggle-menu__wrap {
    flex-direction: column;
    row-gap: 4px;
}

.toggle-menu__icon {
    width: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 99px;
}

.header__email-wrap {
    margin: 0 10px 0 auto;
    column-gap: 10px;
}

.header__img-email {
    width: 16px;
    height: 12px;
}

.header__email {
    display: none;
}

.header__email:hover {
    color: var(--primary-color);
}

.header__logo {
    display: block;
}

.pc-navbar {
    display: none;
}

.menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 999;
}

.menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
}

.menu-drawer {
    position: fixed;
    inset: 0 25% 0 0;
    padding: 30px;
    background: #fbfaff;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 999;
}

.mobile-nav {
    margin-top: 16px;
}

.navbar__item {
    border-bottom: 1px solid #d6d3e2;
}

.navbar__link {
    display: block;
    padding: 14px 0;
    color: #51586a;
    font-size: 1.8rem;
    line-height: normal;
}

/* Hero */
.hero {
    padding-top: 50px;
    background: #fbfaff;
}
.hero-container {
    position: relative;
}

.hero__inner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.hero__content {
    width: 100%;
}

.hero__heading {
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.04em;
}

.hero__desc {
    margin-top: 20px;
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.63;
}

.hero__actions,
.hero__socials,
.hero__social-icon-group,
.hero__social-icon {
    display: flex;
    align-items: center;
}

.hero__actions {
    column-gap: 40px;
    margin-top: 30px;
}

.hero__cta {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero__link {
    color: #080415;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.88;
    text-decoration-line: underline;
}

.hero__socials {
    margin-top: 25px;
}

.hero__social-desc {
    color: #51586a;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
}

.hero__social-icon-group {
    column-gap: 20px;
    margin-left: 15px;
}

.hero__social-icon {
    position: relative;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__social-icon-img {
    width: 12px;
}

.hero__media {
    margin: 20px auto 0;
    width: 74%;
}

.hero__img {
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero__decor {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

.hero__decor--left {
    left: 0;
}

.hero__decor--right {
    display: none;
}

/* Clients */
.clients {
    margin-top: 120px;
}

.clients__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.clients__heading {
    position: relative;
    width: 49%;
    margin: 0 auto;
    color: #080415;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.04em;
}

.clients__heading::before {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    content: "";
    width: 48px;
    height: 2px;
    background: var(--primary-color);
}

.clients__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
}

.clients-item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.clients-item:nth-child(4),
.clients-item:nth-child(8) {
    padding-left: 36px;
}

.client-item__logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.clients-item:nth-child(1) > .client-item__logo-group {
    background: #fff;
}

.clients-item:nth-child(2) > .client-item__logo-group {
    background: #fbfaff;
}

.clients-item:nth-child(3) > .client-item__logo-group {
    background: #fee101;
}

.clients-item:nth-child(4) > .client-item__logo-group {
    background: #f00;
}

.clients-item:nth-child(5) > .client-item__logo-group {
    background: #14a800;
}

.clients-item:nth-child(6) > .client-item__logo-group {
    background: #fff;
}

.clients-item:nth-child(7) > .client-item__logo-group {
    background: #7f54b3;
}

.clients-item:nth-child(8) > .client-item__logo-group {
    background: #23bfc8;
}

.client-item__logo,
.client-item__logo-name {
    display: block;
}
